<nav class="sidebar">
  <div class="sidebar-header">
    <h1 class="sidebar-title"><i class="fa fa-rocket"></i> <span>Mi Aplicación</span></h1>
  </div>
  <ul class="menu">
    <li><a routerLink="/inicio"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
    <li><a routerLink="/perfil"><i class="fa fa-user"></i> <span>Perfil</span></a></li>
    <!-- Otros elementos del menú -->
  </ul>
  <ul class="menu mt-auto">
    <li><a routerLink="/configuracion"><i class="fa fa-gear"></i> <span>Configuración</span></a></li>
    <li><a routerLink="/salir"><i class="fa fa-sign-out"></i> <span>Salir</span></a></li>
  </ul>
</nav>
